<h1>All articles:</h1>
<ol>
<% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
  </li>
<% end %>
</ol>
<%= link_to "Create new article", new_article_path %>
